.accordioninfoArea {
    border: 1px solid;
  border-color: #f2870c;
  border-radius: 15px;
  height: auto;
  position: relative;
  width: 80%;
  background-color: #fff;
  
  
}
.selectOption {
    width: max-content;
}

.desc123 {
  font-weight: bold !important;
}
